table {
    border-collapse: collapse;
    width: 100%;
    min-width: 300px;
    margin-bottom: 1rem;
    color: #212529;
}

a {
    text-decoration: none;
}

th {
    text-align: inherit;
}
/* Alter every other */
tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
}

th,
td {
    padding: 0.75rem;
    vertical-align: top;
}

thead th {
    vertical-align: bottom;
}

thead tr,
thead th {
    padding-bottom: 30px;
    border-top: none;
    border-bottom: none !important;
    color: #fff;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: .2rem;
}

tbody th,
tbody td {
    color: #777;
    font-weight: 400;
    padding-bottom: 20px;
    padding-top: 20px;
    font-weight: 300;
    border: none;
}

tbody th small,
tbody td small {
    color: rgba(255, 255, 255, 0.3);
    font-weight: 300;
    display: block;
}

tbody th a,
tbody td a {
    color: rgba(255, 255, 255, 0.3);
}

tbody tr:hover td,
tbody tr:focus td {
    color: #fff;
}

tbody tr:hover td a,
tbody tr:focus td a {
    color: red;
}

tbody tr:hover td .more,
tbody tr:focus td .more {
    color: red;
}